/*first part of the wordpress site*/

nav {
  background-color: #118bc0;
  width: 32%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: white;
  font-family: sans-serif;
}

nav img {
  clear: both;
  height: 35px;
  width: 35px;
  padding-right: 10px;
  padding-top: 4px;
}

nav .topsitename {
  float:left;
  position: relative;
  left: 20px;
}

.loginbutton {
  float: right;
  position: relative;
  font-size: 15px;
  background-color: #006ea1;
  padding: 16px;
  margin: 0;
}

.container {
  clear: both;
  width: 32%;
  height: 1500px ;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(../images/crowd.jpg);
}


.container p {
  margin: 0px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 0px 80px 0px 80px;

}

#large{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 150px 50px 50px 50px;
}

.buttontocreatesite {
  background-color: #118bc0;
  width: 170px;
  border: 0;
  outline: 10px black solid;
  outline-color: rgba(0,0,0,0.3);
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 15px
}

.downarrow {
  margin: 0 auto;
  margin-top: 400px;
  margin-bottom: 70px;
  font-size: 70px;
}

.adverts {
  color: white;
  padding-left: 50px;
  position: relative;
  top: 2px;
}

.adverts img {
  padding: 20px;
  position: relative;
  top: 70px;

}

.adverts p {
  text-align: left;
}


.adverts .largetext {
  padding-bottom: 4px;
  text-align: left;
  font-size: 20px;
}

.blurbsection {
  background-color: #e8f0f5;
  width: 32%;
}

.blurbsection p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: lighter;
}


.container2 {
  background-color: #d1d3d7;
  width: 32%;
  height: 1400px;
  margin: 0;
}

.middlecontent {
  background-color: white;
  height: 200px;
  width: 80%;
  position: relative;
  top: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.middlecontent div p {
  text-align: center;
  margin: 0;
  position: relative;
  top: 50px;
}

.contentheader {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.decorativeimage {
  position: relative;
  left: 45%;
  top: 25px;
  height: 60px;
  width: 60px;
  background-color: #d1d3d7;
  border-radius: 100px;
}

.middlecontent div img {
  position: relative;
  left: 20%;
  top: 10px;
  height: 35px;
  width: 35px;
}

.blurbcontinued {
  background-color: #e8f0f5;
  height: 200px;
  margin: 0px;
  padding: 0px;
}

.blurbcontinued p {
  font-size: 23px;
  padding-top: 20px;
  font-weight: lighter;
  text-align: center;
}

.secondbuttoncreatesite {
  background-color: #118bc0;
  position: relative;
  top: 50px;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  padding: 0px;
  color: white;
}

.secondbuttoncreatesite p {
  padding: 3px;
  padding-top: 10px;
}

footer {
  background-color: black;
  height: 70px;
  padding: 0px;
  color: white;
  font-size: 15px;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
}

footer p{
  position: relative: 60px;
  height: 25px;
  display: inline;
}
